In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('recession_probability.csv')

In [4]:
df['Date'] = pd.to_datetime(df.Date)
df.Date = df.Date + datetime.timedelta(days=1)

In [5]:
df1 = pd.DataFrame()
timestamp1 = []
for i in range(1993,2023,1):
    for j in range(1,13,1):
        timestamp1.append(str(i)+'-'+str(j)+'-1')

In [6]:
df1['Date'] = timestamp1
df1['Date'] = pd.to_datetime(df1.Date)

In [7]:
df2 = df1.merge(df,how='left')

In [9]:
df2.fillna(method='ffill')

          Date  predicted_probability
0   1993-01-01                    NaN
1   1993-02-01                    NaN
2   1993-03-01                    NaN
3   1993-04-01                    NaN
4   1993-05-01                    NaN
..         ...                    ...
355 2022-08-01               0.487183
356 2022-09-01               0.487183
357 2022-10-01               0.487183
358 2022-11-01               0.487183
359 2022-12-01               0.487183

[360 rows x 2 columns]

In [10]:
df2.to_csv('preprocessed_recession_probability.csv')